<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nemesis.diiscover" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CarreraListadoActivity"
            android:label="@string/title_activity_listado_grado" >
        </activity>
        <activity
            android:name=".AsignaturaListadoActivity"
            android:label="@string/title_activity_asignatura_listado" >
        </activity>
        <activity android:name=".IncidenciaActivity" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LaboratorioListadoActivity"
            android:label="@string/title_activity_laboratorio_listado_" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AsignaturaPantalla"
            android:label="@string/title_activity_asignatura_pantalla" >
        </activity>
        <activity
            android:name=".ProfesorListadoActivity"
            android:label="@string/title_activity_profesor_lisatdo" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioActivity"
            android:label="@string/title_activity_inicio" >
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro" >
        </activity>
        <activity
            android:name=".ProfesorPantalla"
            android:label="@string/title_activity_profesor_pantalla" >
        </activity>
        <activity
            android:name=".ayudanosActivity"
            android:label="@string/title_activity_perfil" >
        </activity>
        <activity
            android:name=".CorreoProfesor"
            android:label="@string/title_activity_correo_profesor" >
        </activity>
        <activity
            android:name=".laboratorioPantalla"
            android:label="@string/title_activity_laboratorio_pantalla" >
        </activity>
    </application>

</manifest>
